[submodule "bitcore"]
	path = bitcore
	url = git@github.com:bitpay/bitcore
[submodule "bitcore-wallet-client"]
	path = bitcore-wallet-client
	url = git@github.com:bitpay/bitcore-wallet-client
[submodule "bitcore-wallet-service"]
	path = bitcore-wallet-service
	url = git@github.com:bitpay/bitcore-wallet-service
[submodule "bitcore-mnemonic"]
	path = bitcore-mnemonic
	url = git@github.com:bitpay/bitcore-mnemonic
